.transition(@elem: all, @duration: .5s, @effect: ease) {
	-webkit-transition: @elem @duration @effect;
	transition: @elem @duration @effect;
}

.box-sizing() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card-class {
	position: absolute;
	top: @cardMrg; right: @cardMrg; bottom: @cardMrg; left: @cardMrg;
	.transition;
	opacity: 1;
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 500;
	-webkit-transform: perspective(500);
}

.full-abs() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}